# IDE
.fleet/**
.vscode/**
.idea/**

# bin
main
!main.*
utest*
!utest*.cpp
dist/**
*.jar
*.zip
*.exe
*.o

# temp
temp/**
score.csv
jar

# python cache
*.pyc
*.pyd
__pycache__

# config
config.json

# .DS_Store
.DS_Store
